<form method="POST" action="/Home/Index">
<div>
Emlak Türü Griniz :
<input type="text" name="etur"></input><br/>
Bulunduğu Yer:
<input type="text" name="byer"></input><br/>
<button type="submit">Gönder</button>
</div>
</form>